
@cls-prefix: micro-modal;
@title-font-color: white;

:global {
  .@{cls-prefix} {
    margin: 0 auto;
    padding-bottom: 0;

    .ant-modal-body {
      padding: 0;
    }

    .body-main {
      padding: 24px;
      display: flex;
      flex-direction: column;
    }

    .fullscreen {
      position: fixed;
      display: flex;
      flex-direction: column;
      z-index: 99999;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100% !important;
    }
    
    .ant-modal-close {
      color: @title-font-color;
      .ant-modal-close-x {
        transition: 0.3s;
        &:hover {
          color: @title-font-color;
          font-size: 28px;
          // .ant-modal-close-x:hover {
          //   transform: rotateZ(180deg);
          // }
        }
      }
    }

    .ant-modal-header {
      padding: 0;
      .title-main {
        color: @title-font-color;
        height: 56px;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.moving {
          cursor: move;
          user-select: none;
        }
        .full-screen-icon-wrapper {
          margin-right: 32px;
          width: 32px;
          height: 56px;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: .3s;
          &:hover {
            font-size: 28px;
          }
        }
      }
    }

    .body-main-nopart {
      padding: 0;
    }

    .footerNopart-content {
      display: flex;
      flex-direction: column;
      .footerNopart-body {
        flex: 1;
        overflow: auto;
        padding: 24px;
        flex-direction: column;
      }
      .footerNopart-footer {
        min-height: 56px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid #e8e8e8;
        padding: 0 16px;
        > button {
          margin-left: 8px;
        }
      }
    }
  }
}


